<%= link_to(@art.last) do %>
<div class="row expanded collapse">
  <div class="column">
    <div class="large-article-header" style="background-image:url(<%= @art.first.mimages[0].url %>);">
      <div class="large-article-header-content">
        <div class="center-container">
          <div class="article-title">
            <h1><%= @art.first.storename %></h1>
          </div>
          <div class="article-details">
          <div style="color:white; position: center;">
            <p><%= @art.first.created_at.strftime("%Y年%m月%d日") %></p>
      	    </div>
            <div class="article-comments">
              <a href="#"><i class="fa fa-comment" aria-hidden="true"><%= @art.first.area %></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>