<div class="grid-x grid-margin-x">
<div class="cell"><%= render 'bigtitle' %></div>
<div class="cell small-12 medium-9 large-9">
<div class="cell small-title">
<h5 class="readmore clear button secondary top-line">
<%= link_to 'Read more', index_path %></h5>
<h2>New Article</h2>
</div>
<div class="grid-x grid-padding-x small-up-2 medium-up-3 large-up-3">
<%= render 'arts/card' %>
</div>

<div class="cell small-title">
<h5 class="readmore clear button secondary top-line">
<%= link_to 'Read more', memos_path %></h5>
<h2>New Column</h2>
</div>
<div class="grid-x grid-padding-x small-up-2 medium-up-3 large-up-3">
<%= render 'memos/me' %>
</div>

<div class="cell small-title">
<h2>Map</h2>
<%= render 'arts/maps' %>
</div>
<%= link_to 'Login with Facebook', auth_at_provider_path(provider: :facebook) %>
</div>

<div class="cell medium-3 large-3">
<%= render 'layouts/side' %>
</div>
</div>
</div>
</div>