<% set_meta_tags title: 'お気に入り記事', description: 'ユーザーのお気に入り' %>
<p id="notice"><%= notice %></p>

<h3 class="side-title">お気に入り記事一覧</h3> 

<div class="grid-x grid-padding-x small-up-2 medium-up-3 large-up-3">
<% @user.arts.each do |art| %>
<div class="cell">
<div class="card">
  <%= image_tag art.mimages[0].url %>
  <div class="card-section">
  <%= link_to art_path(art) do %>
  <h4><%= art.storename %></h4>
  (<%= REDIS.zscore("arts/", "#{art.id}").floor %>PV)
  <% end %>
  <p class="cat-name cat-CULTURE"><%= art.area %></p>
  <p class="cat-name cat-CULTURE"><%= art.created_at.strftime("%Y年%m月%d日") %>
  </p>
  <span id="like-of-<%= art.id %>">
  <%= render partial: 'favorites/favorite', locals: { art: art, favorites: @favorites } %>
  </span>
  </div>
  </div>
  </div>
  <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>