<div class="cell">
<h2 class="maint">Coffee</h2>

<div class="menu-title">CoffeeBeans</div>
<% @art.beans.each do |art| %>
<div>
<span class="menu-content"><p><%= art.name %></p></span>
<span class="menu-contents"><p><%= art.price %></p></span>
</div>
<% end %>

<div class="menu-title">Brewing</div>
<% @art.brews.each do |art| %>
<div>
<span class="menu-content"><p><%= art.name %></p></span><span class="menu-contents"><%= art.price %></span>
</div>
<% end %>


<div class="menu-title">Other Coffee</div>
<% @art.elsecoffees.each do |art| %>
<div>
<span class="menu-content"><p><%= art.elsename %></p></span>
</div>
<% end %>


</div>