  <%= form_for(@art) do |f| %>
  <div class="cell"><h2 class="maint">Information</h2></div>

      <%= f.label :店舗名 %>
      <%= f.text_field :storename %>

      <%= f.label :住所 %>
      <%= f.text_field :address %>

      <%= f.label :TEL %>
      <%= f.text_field :tel %>

      <%= f.label :web %>
      <%= f.text_field :web %>

      <%= f.label :営業時間 %>
      <%= f.text_field :time %>

      <%= f.label :定休日 %>
      <%= f.text_field :day %>

      <%= f.label :エリア %>
      <%= f.text_field :area %>

      <%= f.label :抽出方法 %>
      <%= f.text_field :how %>

      <div class="cell">イントロダクション</div>

      <%= f.label :内容 %>
      <%= f.text_field :content %>

      <div class="cell">マップ</div>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :images %>
      <%= f.file_field :images, multiple: true %>

  <div class="cell"><h2 class="maint">Interview</h2></div>

      <%= f.label :プロフ紹介 %>
      <%= f.text_field :intprofcontent %>

      <%= f.label :名前 %>
      <%= f.text_field :intprofname %>

      <%= f.label :一押しメニュー %>
      <%= f.text_field :intprofmenu %>

      <%= f.label :小タイトル１ %>
      <%= f.text_field :inttitle1 %>

      <%= f.label :コンテンツ１ %>
      <%= f.text_field :intcontent1 %>

      <%= f.label :小タイトル２ %>
      <%= f.text_field :inttitle2 %>

      <%= f.label :コンテンツ２ %>
      <%= f.text_field :intcontent2 %>


  <div class="cell"><h2 class="maint">Tag</h2></div>
      
      <%= f.label :tag_list, 'タグをカンマ区切りで入力' %>
      <%= text_field_tag 'art[tag_list]', @art.tag_list.join(',') %>

      <%= f.label :coffeebean_list, 'タグをカンマ区切りで入力' %>
      <%= text_field_tag 'art[coffeebean_list]', @art.coffeebean_list.join(',') %>

      <div class="details">
    <!-- #order-detailsの下に追加するように指定 -->
    <p><%= link_to_add_association '行を追加', f, :menus,
        data: {
          association_insertion_node: '#menus',
          association_insertion_method: 'append'
        } %></p>
    <table>
      <thead>
        <tr>
        <th>ドリンク</th>
        <th>ドリンクプライス</th>
        <th>フード</th>
        <th>フードプライス</th>
        <th>他</th>
        <th>他プライス</th>
        </tr>
      </thead>
      <tbody id="menus">
        <%= f.fields_for :menus do |detail| %>
          <%= render 'menu_fields', f: detail %>
        <% end %>
      </tbody>
    </table>
  </div>


      <%= f.submit "Create new article", class: "btn btn-primary" %>
    <% end %>