<div class="cell"><h2 class="maint">Interview</h2></div>

<div class="grid-x">

<div class="cell large-8">
<div class="art-fukidashi">
<h2><%= @art.inttitle1 %></h2>
</div>
<div class="art-content">
<h4><%= @art.intcontent1 %></h4>
</div>
<div class="art-fukidashi">
<h2><%= @art.inttitle2 %></h2>
</div>
<div class="art-content">
<h2><%= @art.intcontent2 %></h2>
</div>
</div>

<div class="cell large-4">
<div class="grid-x">
<div class="int-image"><img src="<%= @art.mimages[0].url %>" alt="thumb00" /></div>
<div class="int-side">

<div class="int-staff">
	Staff
</div>
<div class="int-name">
<%= @art.intprofname %>
</div>
<div class="art-profcontent">
<%= @art.intprofcontent %>
</div>

<div class="int-staff">
	おすすめメニュー
</div>
<div class="int-name">
<%= @art.intprofmenu %>
</div>

</div>
</div>
</div>

</div>