<div class="cell">
<h2 class="maint">Menu</h2>
<div class="menu-title">Drink</div>
<div class="menu-content">
<h5>
<% @art.menus.each do |art| %>
<div><%= art.drink %><%= art.drinkprice %></span></div>
<% end %>
</h5>
</div>

<div class="menu-title">Food</div>
<h5>
<% @art.menus.each do |art| %>
<div><%= art.food %><%= art.foodprice %></div>
<% end %>
</h5>

<div class="menu-title">Other</div>
<h5>
<% @art.menus.each do |art| %>
<div><%= art.other %><%= art.otherprice %></div>
<% end %>
</h5>
</div>