<table class="unstriped this">
	<tbody>
		<tr>
			<td>店舗名</td>
			<th><%= @art.storename %></th>
		</tr>
		<tr>
			<td>住所</td>
			<th><%= @art.address %></th>
		</tr>
		<tr>
			<td>TEL</td>
			<th><%= @art.tel %></th>
		</tr>
		<tr>
			<td>WEB</td>
			<th class="url"><a href="http//<%= @art.web %>"><%= @art.web %></a></th>
		</tr>
		<tr>
			<td>営業時間</td>
			<th><%= @art.time %></th>
		</tr>
		<tr>
			<td>定休日</td>
			<th><%= @art.day %></th>
		</tr>
		<tr>
			<td>エリア</td>
			<th><%= @art.area %></th>
		</tr>
		<tr>
			<td>エリアタグ</td>
			<th class="tag">#<%= raw @art.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></th>
		</tr>
		<tr>
			<td>コーヒー豆</td>
			<th class="tag">#<%= raw @art.coffeebean_list.map { |t| link_to t, tag_path(t) }.join('&emsp;# ') %></th>
		</tr>
	</tbody>
	</h5>
</table>