<table class="unstriped this">
	<tbody>
		<tr>
			<td>店舗名</td>
			<th><%= @art.storename %></th>
		</tr>
		<tr>
			<td>住所</td>
			<th><%= @art.address %></th>
		</tr>
		<tr>
			<td>TEL</td>
			<th><%= @art.tel %></th>
		</tr>
		<tr>
			<td>WEB</td>
			<th><%= @art.web %></th>
		</tr>
		<tr>
			<td>営業時間</td>
			<th><%= @art.time %></th>
		</tr>
		<tr>
			<td>定休日</td>
			<th><%= @art.day %></th>
		</tr>
		<tr>
			<td>エリア</td>
			<th><%= @art.area %></th>
		</tr>
		<tr>
			<td>抽出方法</td>
			<th><%= @art.how %></th>
		</tr>
		<tr>
			<td>タグ</td>
			<th><%= raw @art.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></th>
		</tr>
	</tbody>
	</h5>
</table>