<%= provide(:title, '@art.title') %>

<div class="grid-x grid-margin-x small-up-2 medium-up-4 large-up-4">
<% @art.each do |art| %>
<div class="cell">
<div class="card">
  <%= image_tag art.images[0].url %>
  <div class="card-section">
  <%= link_to art_path(art) do %>
  <h4><%= art.storename %></h4>
  <% end %>
  <p class="cat-name cat-CULTURE"><%= art.area %></p>
  </div>
  </div>
  </div>
  <% end %>
</div>
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <%= link_to tag.name, tag_path(:action => :tag, :tag => tag.name), :class => css_class %>
            <%= tag.count %>
        <% end %>