<% set_meta_tags title: 'Cafe', description: 'カフェ一覧' %>

<span class="breadcrumbs">
<% breadcrumb :arts %>
</span>

</br></br>
<% if request.path.split('/').last.split('.').first == "index" %>
    <h2 class="maint">CAFE</h2>
    <% else %>
      <h2 class="maint"><%= CGI.unescape(request.path.split('/').last.split('.').first.to_s) %></h2>
    <% end %>

<div class="grid-x page-top grid-margin-x">
<div class="cell small-12 medium-9 large-9">
<div class="grid-x grid-padding-x small-up-2 medium-up-3 large-up-3">
<% @art.each do |art| %>
<div class="cell">
<div class="card">
  <%= image_tag art.mimages[0].url %>
  <div class="card-section">
  <%= link_to art_path(art) do %>
  <h4><%= art.storename %></h4>
   <% if false %>
     (<%= REDIS.zscore("arts/", "#{art.id}").floor %>PV)
     <% end %>
  <% end %>
  <p class="cat-name cat-CULTURE"><%= art.area %></p>
  <p class="cat-name cat-CULTURE"><%= art.created_at.strftime("%Y年%m月%d日") %>
  </p>
  </div>
  </div>
  </div>
  <% end %>
  </div>


  <% if request.path.split('/').last.split('.').first == "index" %>
    <% else %>
     <div><h2 class="maint">Access Map</h2></div>
     <%= render 'maps' %>
    <% end %>
</div>

<div class="cell medium-3 large-3">
<%= render 'layouts/side' %>
</div>

</div>
<% if false %>
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <%= link_to tag.name, tag_path(:action => :tag, :tag => tag.name), :class => css_class %>
            <%= tag.count %>
        <% end %>
<% end %>