<%= provide(:title, 'Signup') %>

<div class="cell">
    <%= form_for(@art) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :content %>
      <%= f.text_field :content %>

      <%= f.label :storename %>
      <%= f.text_field :storename %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :tel %>
      <%= f.text_field :tel %>

      <%= f.label :web %>
      <%= f.text_field :web %>

      <%= f.label :time %>
      <%= f.text_field :time %>

      <%= f.label :day %>
      <%= f.text_field :day %>

      <%= f.label :area %>
      <%= f.text_field :area %>

      <%= f.label :how %>
      <%= f.text_field :how %>

      <%= f.label :mapname %>
      <%= f.text_field :mapname %>

      <%= f.label :images %>
      <%= f.file_field :images, multiple: true %>

      <%= f.label :latitude %>
      <%= f.text_field :latitude %>

      <%= f.label :longitude %>
      <%= f.text_field :longitude %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.submit "Create new article", class: "btn btn-primary" %>
    <% end %>
 </div>