<%= provide(:title, '@art.title') %>

<div class="breadcrumbs">
<% breadcrumb :art, @art %>
</div>

<div class="cell pagetitle">
<h2><%= @art.storename %></h2>
</div>
<!-- お気に入り記事に追加：
<span id="like-of-<%= @art.id %>">
  <%= render partial: 'favorites/favorite', locals: { art: @art, favorites: @favorites } %>
  </span>
-->
<div>
<ul class="tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Information</a></li>
      <!-- インタビュー：
      <li class="tabs-title"><a href="#panel2">Interview</a></li>
      -->
      <li class="tabs-title"><a href="#panel2">Coffee</a></li>
      <li class="tabs-title"><a href="#panel3">Menu</a></li>
      <li class="tabs-title"><a href="#panel4">News</a></li>
      <li class="tabs-title"><a href="#panel5">Coupon</a></li>
    </ul>
</div>

<div class="tabs-content" data-tabs-content="example-tabs">
<div class="tabs-panel is-active" id="panel1">

<div class="cell"><h2 class="maint">Information</h2></div>

<div class="grid-x">
<div class="cell large-8">
<!-- メインスライダー -->	
<%= render 'bxslider' %>
</div>

<div class="cell large-4">
<!-- テーブルなど -->	
<%= render 'table' %>
</div>
</div>

<div class="cell">
	<div><h2 class="maint">Introduction</h2></div>
	<div class="art-content"><%= @art.content %></div>
</div>

<div class="cell">
	<div><h2 class="maint">Access Map</h2></div>
<%= render 'map' %>
<div class="cell map-des"><h6><%= @art.description %></h6></div>
</div>
<!-- end of large-4 -->	
      </div>
<!-- panel-two --> 
  <!-- インタビュー：
      <div class="tabs-panel" id="panel2">
        <div><%= render 'interview' %></div>
      </div>
      -->
      <div class="tabs-panel" id="panel2">
        <div><%= render 'coffee' %></div>
      </div>
      <div class="tabs-panel" id="panel3">
         <div><%= render 'menu' %></div>
      </div>
      <div class="tabs-panel" id="panel4">
         <div><%= render 'news' %></div>
      </div>
       <div class="tabs-panel" id="panel5">
         <div><%= render 'coupon' %></div>
      </div>
      <!-- end of tab -->	
    </div>