<%= provide(:title, '@art.title') %>

<div class="cell"><h2>Information</h2></div>

<div class="cell large-8">
<!-- メインスライダー -->	
<ul class="bxslider">
  <li><img src="<%= @art.images[0].url %>" /></li>
  <li><img src="<%= @art.images[1].url %>" /></li>
  <li><img src="<%= @art.images[2].url %>" /></li>
  <li><img src="<%= @art.images[3].url %>" /></li>
</ul>

<ul id="bx-pager" class="bxslider02">
                <li><a data-slide-index="0" href=""><img src="<%= @art.images[0].url %>" alt="thumb01" /></a></li>
                <li><a data-slide-index="1" href=""><img src="<%= @art.images[1].url %>" alt="thumb02" /></a></li>
                <li><a data-slide-index="2" href=""><img src="<%= @art.images[2].url %>" alt="thumb03" /></a></li>
                <li><a data-slide-index="3" href=""><img src="<%= @art.images[3].url %>" alt="thumb04" /></a></li>
            </ul>
        <p id="PrevIcon"></p>
        <p id="NextIcon"></p>


<!-- サムネイル -->	

<!-- end of large-8 -->	
</div>

<div class="cell large-4">
<table class="hover">
	<tbody>
		<tr>
			<td>店舗名</td>
			<td><%= @art.storename %></td>
		</tr>
		<tr>
			<td>住所</td>
			<td><%= @art.address %></td>
		</tr>
		<tr>
			<td>TEL</td>
			<td><%= @art.tel %></td>
		</tr>
		<tr>
			<td>WEB</td>
			<td><%= @art.web %></td>
		</tr>
		<tr>
			<td>営業時間</td>
			<td><%= @art.time %></td>
		</tr>
		<tr>
			<td>定休日</td>
			<td><%= @art.day %></td>
		</tr>
		<tr>
			<td>エリア</td>
			<td><%= @art.area %></td>
		</tr>
		<tr>
			<td>抽出方法</td>
			<td><%= @art.how %></td>
		</tr>
	</tbody>
</table>
</div>

<div class="cell">
	<div><h1>Introduction</h1></div>
	<div><%= @art.content %></div>
</div>

<div class="cell">
	<div><h1>Access Map</h1></div>
	
</div>
