<% set_meta_tags title: @art.storename, description: @art.content %>

<div class="breadcrumbs">
<% breadcrumb :art, @art %>
</div>

<% if false %>
#Baknenにてエラー発生。訂正必要
<% if loyalty(@art, :arts).edit? %>
  <%= link_to 'Edit', edit_art_path(@art) %>
<% end %>
<% end %>

<div class="cell pagetitle">
<h2><%= @art.storename %></h2>
</div>

<div id="likes-button-<%= @art.id %>">
  <%= render partial: 'favorites/favorite',locals: { art: @art, favorites: @favorites, favorite: @favorite} %>
</div>

<div>
<ul class="tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Information</a></li>
      <!-- インタビュー：
      <li class="tabs-title"><a href="#panel2">Interview</a></li>
      -->
      <li class="tabs-title"><a href="#panel2">Coffee</a></li>
      <li class="tabs-title"><a href="#panel3">Gallery</a></li>
      <li class="tabs-title"><a href="#panel4">News</a></li>
    </ul>
</div>

<div class="tabs-content" data-tabs-content="example-tabs">
<div class="tabs-panel is-active" id="panel1">

<div class="cell"><h2 class="maint">Information</h2></div>

<div class="grid-x">
<div class="cell large-8">
<!-- メインスライダー -->	
<%= render 'bxslider' %>
</div>

<div class="cell large-4">
<!-- テーブルなど -->	
<%= render 'table' %>
</div>
</div>

<div class="cell">
	<div><h2 class="maint">Introduction</h2></div>
	<div class="text"><%= @art.content %></div>
</div>

<div class="cell">
	<div><h2 class="maint">Access Map</h2></div>
<%= render 'map' %>
<div class="cell map-des"><h6><%= @art.description %></h6></div>
</div>
<!-- end of large-4 -->	
      </div>
<!-- panel-two --> 
  <!-- インタビュー：
      <div class="tabs-panel" id="panel2">
        <div><%= render 'interview' %></div>
      </div>
      -->
      <div class="tabs-panel" id="panel2">
        <div><%= render 'coffee' %></div>
      </div>
      <div class="tabs-panel" id="panel3">
         <div><%= render 'gallery' %></div>
      </div>
      <div class="tabs-panel" id="panel4">
         <div><%= render 'news' %></div>
      </div>
      <!-- end of tab -->	
    </div>

    <% if current_user && current_user.admin?  %>
     <%= link_to 'Edit', edit_art_path(@art) %>
     <%= link_to "削除する", art_path(@art), method: :delete %>
     <% else %>
     <% end %>