<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag "application",'data-turbolinks-track' => "reload"  %>
    <%= render 'layouts/google' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => "reload" %>
    <%= favicon_link_tag 'coffeeseeker.ico' %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
    <span id="notice"><%= flash[:notice] %></span>
    <span id="alert"><%= flash[:alert] %></span>
  
  <div class="content">

  <%= render 'layouts/navbar' %>

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
    <div class="cell">
    <%= breadcrumbs semantic: true,
                separator: " &rsaquo; " %>

    <%= yield %>
    </div>
    </div>
    </div>
</div>

  <%= render 'layouts/footer' %>

  </div>
  
  </body>
</html>
