<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Coffee Delivery" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="content">

  <%= render 'layouts/navbar' %>

  <div class="grid-container">
    <div class="grid-x grid-margin-x">

    <%= yield %>

    </div>
    </div>
</div>

  <%= render 'layouts/footer' %>

  </div>
  
  </body>
</html>
