<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SELECT COFFEE" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css"></script>
  </head>
  <body>
  
    <span id="notice"><%= flash[:notice] %></span>
    <span id="alert"><%= flash[:alert] %></span>
  
  <div class="content">

  <%= render 'layouts/navbar' %>

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
    <div class="cell">
    <%= breadcrumbs semantic: true,
                separator: " &rsaquo; " %>

    <%= yield %>
    </div>
    </div>
    </div>
</div>

  <%= render 'layouts/footer' %>

  </div>
  
  </body>
</html>
