<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9496679897493996",
          enable_page_level_ads: true
     });
</script>
    <title><%= content_for?(:title) ? yield(:title) : "COFFEE SEEKER" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => false %>
    <%= favicon_link_tag 'coffeeseeker.ico' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
    <span id="notice"><%= flash[:notice] %></span>
    <span id="alert"><%= flash[:alert] %></span>
  
  <div class="content">

  <%= render 'layouts/navbar' %>

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
    <div class="cell">
    <%= breadcrumbs semantic: true,
                separator: " &rsaquo; " %>

    <%= yield %>
    </div>
    </div>
    </div>
</div>

  <%= render 'layouts/footer' %>

  </div>
  
  </body>
</html>
